<form action="/answer" method="get">
  <label for="coach"></label>
  <input type="text" name="query" id="coach" placeholder="Enter your question">
  <input type="submit" value="ask your question">
</form>
